@model Restaurant

@{
    ViewBag.Title = Model.Name;
}



<h1>@Model.Name</h1>

<div>
    Id: @Model.Name

    ... details ...
</div>
<div>
    Cuisine: @Model.TypeFood
</div>


<a asp-action="Index" asp-controller="Home">Back Home</a>



